:root {
    --font-family-main: consolas, "Times New Roman", serif;
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-size-s: 12px;
    --font-line-s: 16px;
    --font-size-xs: 10px;
    --font-line-xs: 12px;
    --gap-3xs: 2px;
    --gap-2xs: 4px;
    --gap-xs: 8px;
    --gap-s: 12px;
    --gap-m: 16px;
    --gap-l: 20px;
    --gap-xl: 24px;
    --gap-2xl: 32px;
    --gap-3xl: 40px;
    --gap-4xl: 48px;
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
    --button-xl-size: 48px;
    --button-l-size: 40px;
    --button-m-size: 32px;
    --button-s-size: 24px;
    --button-xs-size: 20px;
    --modal-z-index: 10;
    --overlay-bg-color: rgba(0 0 0 / 60%);
    --border-radius-l: 16px;
    --border-radius-m: 12px;
    --border-radius-s: 8px;
    --border-radius-xs: 4px;
}
