.articleDetails {
    min-height: 100%;
}

.avatar {
    margin: 0 auto;
    margin-bottom: var(--gap-l);
}

.title {
    margin-bottom: var(--gap-m);
}

.skeleton:not(:last-child) {
    margin-bottom: var(--gap-m);
}

.icon {
    margin-right: var(--gap-xs);
}

.block:not(:last-child) {
    margin-bottom: var(--gap-m);
}
