.label {
    margin-right: var(--gap-2xs);
}

.select {
    background: none;
    outline: none;
    color: var(--primary-color);
    padding: var(--gap-3xs) var(--gap-xs) var(--gap-3xs) var(--gap-3xs);
    border: 1px solid var(--primary-color);
}

.option {
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}

.readonly {
    opacity: 0.7;
}
