.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    bottom: var(--gap-l);
    display: flex;
    justify-content: center;
    width: 100%;
}

.sidebarToggle {
    position: absolute;
    right: -32px;
    bottom: 40px;
}

.items {
    padding: var(--gap-l) 0 0 var(--gap-xl);
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }
}
