.drawer {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.content {
    height: 70%;
    background: var(--bg-color);
    bottom: 0;
    border-top-left-radius: var(--border-radius-m);
    border-top-right-radius: var(--border-radius-m);
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: var(--gap-l);
    transition: 0.3s transform;
    transform: translateY(100%);
    overflow-y: auto;
    overflow-x: hidden;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .content {
        transform: translateY(0);
    }
}

.isClosing {
    .content {
        transform: translateY(100%);
    }
}

.sheet {
    z-index: var(--modal-z-index);
    position: fixed;
    left: 2vw;
    height: calc(100vh + 100px);
    width: 96vw;
    border-radius: var(--border-radius-m) var(--border-radius-m) 0;
    background: var(--bg-color);
    touch-action: none;
    padding: var(--gap-m);
}
