.commentItem {
    padding: var(--gap-s);
    border: 1px solid var(--primary-color);
}

.header {
    margin-bottom: var(--gap-s);
}

.avatar {
    margin-right: var(--gap-s);
}

.loadingItem {
    border: none;
}
