.trigger {
    position: relative;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;

    &:hover.disabled {
        opacity: 0.5;
    }
}

.options {
    background: var(--listbox-bg);
    position: absolute;
    z-index: 10000;
    border-radius: var(--border-radius-m);
    box-shadow: 4px 4px 8px var(--listbox-bg);
}

.item {
    padding: var(--gap-s) var(--gap-l);
    display: flex;
}

.itemSelected {
    margin-right: var(--gap-2xs);
}
