.navbar {
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    padding: var(--gap-l);
}

.links,
.dropdown {
    margin-left: auto;
}

.dropdown {
    word-wrap: break-word;
}

.dropdown button {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

.appName {
    width: var(--sidebar-width);
    margin: 0 var(--gap-3xs) 0 var(--gap-xl);
}
