.navbar {
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    padding: var(--gap-l);
}

.links {
    margin-left: auto;
    display: flex;
    gap: var(--gap-m);
}

.appName {
    width: var(--sidebar-width);
    margin: 0 var(--gap-3xs) 0 var(--gap-xl);
}
