.profileCard {
    border: 2px solid var(--inverted-bg-color);
    padding: var(--gap-l);
}

.input,
.select {
    margin-top: var(--gap-s);
}

.loading,
.error {
    height: 300px;
}

.avatarWrapper {
    margin: 0 auto;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}
