.articlesPageFilters {
    margin-bottom: var(--gap-2xl);
}

.sortWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--gap-m);
}

.searchWrapper {
    margin-bottom: var(--gap-m);
}
